In [16]:
import pandas as pd
f=open("microprocessor lab marks.txt").read().split("\n")

In [17]:
dat=[]
sh_10={}
az_10={}
for x in f:
    xx=x.split(" ")
    if len(xx)>=3:
        # az_10[1807000+int(xx[0])]=int(xx[1])
        # sh_10[1807000+int(xx[0])]=int(xx[2])
        
        dat.append({
            "Roll": 2007000+int(xx[0]),
            "marks":int(xx[1])+int(xx[2])
        })
    else:
        print(x)

In [18]:
df=pd.DataFrame(dat)
df_new=df.sort_values('Roll')
df_new.to_csv("mc sorted mark.csv",index=False)

In [120]:
az_20={}
sh_20={}
az_20_df=pd.read_excel(r"data\CSE 4221(azhar sir).xlsx")
sh_20_df=pd.read_excel(r"data\NLP-2k18 mark(20).xlsx")
name_roll=pd.read_csv(r"data\CSE 4221.csv")

In [121]:
import math
roll_email={}
roll_name={}
for x in az_20_df.values:
    az_20[int(x[0])]=int(x[1])
for x in sh_20_df.values:
    m = float(x[3])
    roll_name[int(x[1])]=x[0]
    roll_email[int(x[1])]=x[2]
    if not math.isnan(m):
        sh_20[int(x[1])]=int(x[3])

In [125]:
total_marks=[]
for x in name_roll.values:
    roll=int(x[1])
    s10=0
    a10=0
    s20=0
    a20=0
    name="No name"
    email="No email"
    if sh_10.get(roll)!=None:
        s10=sh_10[roll]
    if sh_20.get(roll)!=None:
        s20=sh_20[roll]
    if az_10.get(roll)!=None:
        a10=az_10[roll]
    if az_20.get(roll)!=None:
        a20=az_20[roll]
    if roll_name.get(roll)!=None:
        name=roll_name[roll]
    if roll_email.get(roll)!=None:
        email=roll_email[roll]
    total_marks.append({
        'roll':roll,
        "name":name,
        'email':email,
        "Azhar sir(20)":a20,
        "Azhar sir(10)":a10,
        "Shakib sir(20)":s20,
        "Shakib sir(10)":s10
    })

In [126]:
total_marks

[{'roll': 1807001,
  'name': 'Md. Mashrur Alam',
  'email': 'alam1807001@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 14,
  'Shakib sir(10)': 4},
 {'roll': 1807002,
  'name': 'Md Akil Raihan Iftee',
  'email': 'iftee1807002@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 9},
 {'roll': 1807003,
  'name': 'Md.Humayan Kabir Rupok',
  'email': 'rupok1807003@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 7},
 {'roll': 1807004,
  'name': 'Abdullah Al Shafi',
  'email': 'shafi1807004@stud.kuet.ac.bd',
  'Azhar sir(20)': 18,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 10},
 {'roll': 1807005,
  'name': 'Nafiul Alam',
  'email': 'alam1807005@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 10},
 {'roll': 1807006,
  'name': 'Subah Nawar',
  'email': 'nawar1807006@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 10},
 {'roll': 1807007,
  'name': 'Asfia Moon oishy',
  'email': 'oishy1807007@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 9},
 {'roll': 1807008,
  'name': 'Md. Taqiul Islam',
  'email': 'islam1807008@stud.kuet.ac.bd',
  'Azhar sir(20)': 14,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 12,
  'Shakib sir(10)': 7},
 {'roll': 1807009,
  'name': 'MD. TASNIN TANVIR',
  'email': 'tanvir1807009@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 19,
  'Shakib sir(10)': 8},
 {'roll': 1807010,
  'name': 'Shaikh Prothomaa Binte Minhaz',
  'email': 'minhaz1807010@stud.kuet.ac.bd',
  'Azhar sir(20)': 18,
  'Azhar sir(10)': 7,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 6},
 {'roll': 1807011,
  'name': 'Md. Mominur Rahman',
  'email': 'rahman1807011@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 15,
  'Shakib sir(10)': 7},
 {'roll': 1807012,
  'name': 'Asif Mohammed Saad',
  'email': 'saad1807012@stud.kuet.ac.bd',
  'Azhar sir(20)': 14,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 4},
 {'roll': 1807013,
  'name': 'Shahid Hasan',
  'email': 'hasan1807013@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 6,
  'Shakib sir(20)': 15,
  'Shakib sir(10)': 6},
 {'roll': 1807014,
  'name': 'Kazi Abrar Fiyaz',
  'email': 'fiyaz1807014@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 10,
  'Shakib sir(10)': 1},
 {'roll': 1807015,
  'name': 'Abu Taher Md. Shifat',
  'email': 'shifat1807015@stud.kuet.ac.bd',
  'Azhar sir(20)': 13,
  'Azhar sir(10)': 0,
  'Shakib sir(20)': 14,
  'Shakib sir(10)': 0},
 {'roll': 1807016,
  'name': 'Md. Tanvir Ahmmed',
  'email': 'ahmmed1807016@stud.kuet.ac.bd',
  'Azhar sir(20)': 11,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 3},
 {'roll': 1807017,
  'name': 'Mahmudul Hasan',
  'email': 'hasan1807017@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 7},
 {'roll': 1807018,
  'name': 'Saimoon Al Farshi Oman',
  'email': 'oman1807018@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 13,
  'Shakib sir(10)': 6},
 {'roll': 1807019,
  'name': 'Sanjoy Kumar Roy',
  'email': 'roy1807019@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 5},
 {'roll': 1807020,
  'name': 'Sadman Sakib',
  'email': 'sakib1807020@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 16,
  'Shakib sir(10)': 9},
 {'roll': 1807021,
  'name': 'Partho Choudhury Shoumya',
  'email': 'shoumya1807021@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 11,
  'Shakib sir(10)': 5},
 {'roll': 1807022,
  'name': 'Subal Chandra Roy',
  'email': 'roy1807022@stud.kuet.ac.bd',
  'Azhar sir(20)': 11,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 17,
  'Shakib sir(10)': 4},
 {'roll': 1807023,
  'name': 'Shihab Newaz',
  'email': 'newaz1807023@stud.kuet.ac.bd',
  'Azhar sir(20)': 13,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 9},
 {'roll': 1807024,
  'name': 'Abrar Hasan',
  'email': 'hasan1807024@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 7},
 {'roll': 1807025,
  'name': 'Rakib',
  'email': 'rakib1807025@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 4},
 {'roll': 1807026,
  'name': 'Sazia Akter Tushi',
  'email': 'tushi1807026@stud.kuet.ac.bd',
  'Azhar sir(20)': 9,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 15,
  'Shakib sir(10)': 7},
 {'roll': 1807027,
  'name': 'Saurav Dev',
  'email': 'badhan1807027@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 12,
  'Shakib sir(10)': 5},
 {'roll': 1807028,
  'name': 'Bokhtiar Adil Prottoy',
  'email': 'prottoy1807028@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 6,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 8},
 {'roll': 1807029,
  'name': 'Nishat Sadaf Lira',
  'email': 'lira1807029@stud.kuet.ac.bd',
  'Azhar sir(20)': 18,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 7},
 {'roll': 1807030,
  'name': 'Rana Hosain',
  'email': 'hossain1807030@stud.kuet.ac.bd',
  'Azhar sir(20)': 0,
  'Azhar sir(10)': 0,
  'Shakib sir(20)': 5,
  'Shakib sir(10)': 0},
 {'roll': 1807031,
  'name': 'Tanim Jalal',
  'email': 'jalal1807031@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 12,
  'Shakib sir(10)': 7},
 {'roll': 1807032,
  'name': 'Fuad Hossain',
  'email': 'hossain1807032@stud.kuet.ac.bd',
  'Azhar sir(20)': 11,
  'Azhar sir(10)': 0,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 0},
 {'roll': 1807033,
  'name': 'Nishat Tasnim Sithy',
  'email': 'sithy1807033@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 16,
  'Shakib sir(10)': 7},
 {'roll': 1807034,
  'name': 'Waliul Islam Sumon',
  'email': 'sumon1807034@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 19,
  'Shakib sir(10)': 8},
 {'roll': 1807035,
  'name': 'Mohammad Ruhan Islam',
  'email': 'islam1807035@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 15,
  'Shakib sir(10)': 4},
 {'roll': 1807036,
  'name': 'RESAM ZAHA',
  'email': 'zaha1807036@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 13,
  'Shakib sir(10)': 10},
 {'roll': 1807037,
  'name': 'Prithul Biswas Dip',
  'email': 'dip1807037@stud.kuet.ac.bd',
  'Azhar sir(20)': 11,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 16,
  'Shakib sir(10)': 6},
 {'roll': 1807038,
  'name': 'Amir Labib Khan',
  'email': 'khan1807038@stud.kuet.ac.bd',
  'Azhar sir(20)': 18,
  'Azhar sir(10)': 6,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 6},
 {'roll': 1807039,
  'name': 'Rowzatul Zannat',
  'email': 'zannat1807039@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 19,
  'Shakib sir(10)': 9},
 {'roll': 1807040,
  'name': 'MD. Ehashan Rabbi Pial',
  'email': 'pial1807040@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 16,
  'Shakib sir(10)': 9},
 {'roll': 1807041,
  'name': 'Sakil Ahmed Fahim',
  'email': 'fahim1807041@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 7,
  'Shakib sir(20)': 0,
  'Shakib sir(10)': 9},
 {'roll': 1807042,
  'name': 'Tasfia Tabassum Faija',
  'email': 'faija1807042@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 7},
 {'roll': 1807043,
  'name': 'Umme Israt Afroz',
  'email': 'afroz1807043@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 7},
 {'roll': 1807044,
  'name': 'Rownak Ul Islam',
  'email': 'rownak-ul-islam1807044@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 10},
 {'roll': 1807045,
  'name': 'Nadim Bin Hossain',
  'email': 'hossain1807045@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 19,
  'Shakib sir(10)': 7},
 {'roll': 1807046,
  'name': 'Taslima Akter Joty',
  'email': 'joty1807046@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 8},
 {'roll': 1807047,
  'name': 'Wahida Mahjabin',
  'email': 'mahjabin1807047@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 9},
 {'roll': 1807048,
  'name': 'Md. Naimum Mukim',
  'email': 'mukim1807048@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 16,
  'Shakib sir(10)': 4},
 {'roll': 1807049,
  'name': 'Mousumi Fatima',
  'email': 'fatima1807049@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 0,
  'Shakib sir(20)': 15,
  'Shakib sir(10)': 0},
 {'roll': 1807050,
  'name': 'Tarek Hossain',
  'email': 'hossain1807050@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 5,
  'Shakib sir(20)': 15,
  'Shakib sir(10)': 3},
 {'roll': 1807052,
  'name': 'Umme Niraj Mahi',
  'email': 'mahi1807052@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 4,
  'Shakib sir(20)': 14,
  'Shakib sir(10)': 1},
 {'roll': 1807053,
  'name': 'Avishek Roy',
  'email': 'roy1807053@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 0,
  'Shakib sir(20)': 13,
  'Shakib sir(10)': 0},
 {'roll': 1807054,
  'name': 'MD. NAFIS JAMIL',
  'email': 'jamil1807054@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 12,
  'Shakib sir(10)': 8},
 {'roll': 1807055,
  'name': 'Md. Nishad Shahriair Roni',
  'email': 'roni1807055@stud.kuet.ac.bd',
  'Azhar sir(20)': 0,
  'Azhar sir(10)': 0,
  'Shakib sir(20)': 0,
  'Shakib sir(10)': 0},
 {'roll': 1807056,
  'name': 'MD Raisul Islam Rony',
  'email': 'rony1807056@stud.kuet.ac.bd',
  'Azhar sir(20)': 13,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 12,
  'Shakib sir(10)': 6},
 {'roll': 1807057,
  'name': 'Sumaiya Mifra Akhter',
  'email': 'akhter1807057@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 10},
 {'roll': 1807058,
  'name': 'Mahfuj Hassan',
  'email': 'hassan1807058@stud.kuet.ac.bd',
  'Azhar sir(20)': 12,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 12,
  'Shakib sir(10)': 5},
 {'roll': 1807060,
  'name': 'Ankan Saha',
  'email': 'saha1807060@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 13,
  'Shakib sir(10)': 6},
 {'roll': 1807061,
  'name': 'Mahjabin Hossain Oishi',
  'email': 'hossain1807061@stud.kuet.ac.bd',
  'Azhar sir(20)': 10,
  'Azhar sir(10)': 7,
  'Shakib sir(20)': 17,
  'Shakib sir(10)': 1},
 {'roll': 1807062,
  'name': 'Nur Mohammed Mehedy',
  'email': 'hasan1807062@stud.kuet.ac.bd',
  'Azhar sir(20)': 18,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 14,
  'Shakib sir(10)': 3},
 {'roll': 1807063,
  'name': 'Md. Mizanur Rahman',
  'email': 'rahman1807063@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 14,
  'Shakib sir(10)': 9},
 {'roll': 1807064,
  'name': 'Ahsan Habib',
  'email': 'habib1807064@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 0,
  'Shakib sir(10)': 3},
 {'roll': 1807065,
  'name': 'Pushan Paul',
  'email': 'paul1807065@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 8},
 {'roll': 1807066,
  'name': 'Argho Deb Das',
  'email': 'das1807066@stud.kuet.ac.bd',
  'Azhar sir(20)': 18,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 10},
 {'roll': 1807068,
  'name': 'Dhiman Kumer Bose',
  'email': 'bose1807068@stud.kuet.ac.bd',
  'Azhar sir(20)': 10,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 3},
 {'roll': 1807069,
  'name': 'Fabiha Afrose Redita',
  'email': 'redita1807069@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 16,
  'Shakib sir(10)': 6},
 {'roll': 1807070,
  'name': 'Sabbir Hossain',
  'email': 'hossain1807070@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 5,
  'Shakib sir(20)': 4,
  'Shakib sir(10)': 5},
 {'roll': 1807071,
  'name': 'Tasnia Haque Kheya',
  'email': 'kheya1807071@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 15,
  'Shakib sir(10)': 7},
 {'roll': 1807072,
  'name': 'Md. Mehedi Hasan Emon',
  'email': 'emon1807072@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 6,
  'Shakib sir(20)': 13,
  'Shakib sir(10)': 10},
 {'roll': 1807073,
  'name': 'Nabil Faiyaz Sadi',
  'email': 'sadi1807073@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 16,
  'Shakib sir(10)': 10},
 {'roll': 1807074,
  'name': 'Wahid Mahmood Shafin',
  'email': 'mahmood1807074@stud.kuet.ac.bd',
  'Azhar sir(20)': 18,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 19,
  'Shakib sir(10)': 8},
 {'roll': 1807075,
  'name': 'Md. Mahadi Hasan Ankon',
  'email': 'ankon1807075@stud.kuet.ac.bd',
  'Azhar sir(20)': 18,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 17,
  'Shakib sir(10)': 9},
 {'roll': 1807076,
  'name': 'Humaira Anzum Neha',
  'email': 'neha1807076@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 12,
  'Shakib sir(10)': 8},
 {'roll': 1807077,
  'name': 'Rakib Mahmud',
  'email': 'mahmud1807098@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 16,
  'Shakib sir(10)': 6},
 {'roll': 1807078,
  'name': 'Mohammad Khairul Alam Bhuiyan',
  'email': 'bhuiyan1807078@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 14,
  'Shakib sir(10)': 9},
 {'roll': 1807079,
  'name': 'Nafia Hossain',
  'email': 'hossain1807079@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 5},
 {'roll': 1807080,
  'name': 'Najib Hasan',
  'email': 'hasan1807080@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 7},
 {'roll': 1807081,
  'name': 'Parvej Mia',
  'email': 'mia1807081@stud.kuet.ac.bd',
  'Azhar sir(20)': 10,
  'Azhar sir(10)': 4,
  'Shakib sir(20)': 15,
  'Shakib sir(10)': 2},
 {'roll': 1807082,
  'name': 'Md. Shoriful Islam',
  'email': 'islam1807082@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 0,
  'Shakib sir(10)': 7},
 {'roll': 1807083,
  'name': 'Tashin Ahamed',
  'email': 'ahamed1807083@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 0,
  'Shakib sir(10)': 7},
 {'roll': 1807084,
  'name': 'Saurav Roy',
  'email': 'roy1807084@stud.kuet.ac.bd',
  'Azhar sir(20)': 12,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 8},
 {'roll': 1807085,
  'name': 'Shadman Rabby',
  'email': 'rabby1807085@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 12,
  'Shakib sir(10)': 8},
 {'roll': 1807086,
  'name': 'Rishadul Bayesh',
  'email': 'bayesh1807086@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 5},
 {'roll': 1807087,
  'name': 'Noor Muhammad Tamim',
  'email': 'tamim1807087@stud.kuet.ac.bd',
  'Azhar sir(20)': 18,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 12,
  'Shakib sir(10)': 6},
 {'roll': 1807088,
  'name': 'Arnob Sarker',
  'email': 'sarker1807088@stud.kuet.ac.bd',
  'Azhar sir(20)': 10,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 0,
  'Shakib sir(10)': 3},
 {'roll': 1807089,
  'name': 'MD Hefzul Hossain Papon',
  'email': 'papon1807089@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 14,
  'Shakib sir(10)': 9},
 {'roll': 1807090,
  'name': 'Amartya Kundu Durjoy',
  'email': 'durjoy1807090@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 5,
  'Shakib sir(20)': 12,
  'Shakib sir(10)': 7},
 {'roll': 1807091,
  'name': 'Md. Rashedul Ghani',
  'email': 'ghani1807091@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 9},
 {'roll': 1807092,
  'name': 'Sazid Bin Hayat',
  'email': 'hayat1807092@stud.kuet.ac.bd',
  'Azhar sir(20)': 18,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 5},
 {'roll': 1807093,
  'name': 'Jamilul Huq Jami',
  'email': 'jami1807093@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 15,
  'Shakib sir(10)': 8},
 {'roll': 1807094,
  'name': 'Farhan Shariar',
  'email': 'shariar1807094@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 6,
  'Shakib sir(20)': 17,
  'Shakib sir(10)': 5},
 {'roll': 1807095,
  'name': 'Abir Hasan Onowy',
  'email': 'onowy1807095@stud.kuet.ac.bd',
  'Azhar sir(20)': 13,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 12,
  'Shakib sir(10)': 4},
 {'roll': 1807096,
  'name': 'Sakib Ahmad',
  'email': 'ahmed1807096@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 15,
  'Shakib sir(10)': 7},
 {'roll': 1807097,
  'name': 'S.M. Zafrul Islam',
  'email': 'islam1807097@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 8},
 {'roll': 1807098,
  'name': 'Ashfaq Mahmud',
  'email': 'mahmud1807098@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 2},
 {'roll': 1807099,
  'name': 'Sourav Majumder',
  'email': 'majumder1807099@stud.kuet.ac.bd',
  'Azhar sir(20)': 13,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 17,
  'Shakib sir(10)': 6},
 {'roll': 1807100,
  'name': 'Md Tajmilur Rahman',
  'email': 'rahman1807100@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 19,
  'Shakib sir(10)': 9},
 {'roll': 1807101,
  'name': 'Susmita Sejuti Saha',
  'email': 'saha1807101@stud.kuet.ac.bd',
  'Azhar sir(20)': 19,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 15,
  'Shakib sir(10)': 10},
 {'roll': 1807102,
  'name': 'Mazharul Islam',
  'email': 'islam1807102@stud.kuet.ac.bd',
  'Azhar sir(20)': 18,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 18,
  'Shakib sir(10)': 8},
 {'roll': 1807103,
  'name': 'Mohammad Rifat Ahmed',
  'email': 'ahmed1807103@stud.kuet.ac.bd',
  'Azhar sir(20)': 0,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 20,
  'Shakib sir(10)': 9},
 {'roll': 1807104,
  'name': 'Md Shanjid Arefin',
  'email': 'arefin1807104@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 14,
  'Shakib sir(10)': 8},
 {'roll': 1807105,
  'name': 'Kowshik Ahammed',
  'email': 'ahammed1807105@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 8,
  'Shakib sir(20)': 14,
  'Shakib sir(10)': 3},
 {'roll': 1807106,
  'name': 'Uday Shankar Roy',
  'email': 'roy1807106@stud.kuet.ac.bd',
  'Azhar sir(20)': 14,
  'Azhar sir(10)': 9,
  'Shakib sir(20)': 14,
  'Shakib sir(10)': 6},
 {'roll': 1807107,
  'name': 'Md Amdadul Haque',
  'email': 'haque1807107@stud.kuet.ac.bd',
  'Azhar sir(20)': 12,
  'Azhar sir(10)': 5,
  'Shakib sir(20)': 0,
  'Shakib sir(10)': 8},
 {'roll': 1807108,
  'name': 'Anupoma Debnath',
  'email': 'debnath1807108@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,
  'Azhar sir(10)': 6,
  'Shakib sir(20)': 8,
  'Shakib sir(10)': 0},
 {'roll': 1807109,
  'name': 'Dabbrata Das',
  'email': 'das1807109@stud.kuet.ac.bd',
  'Azhar sir(20)': 16,
  'Azhar sir(10)': 10,
  'Shakib sir(20)': 12,
  'Shakib sir(10)': 9},
 {'roll': 1807111,
  'name': 'Shahoriar Islam Khan',
  'email': 'khan1807111@stud.kuet.ac.bd',
  'Azhar sir(20)': 15,
  'Azhar sir(10)': 5,
  'Shakib sir(20)': 10,
  'Shakib sir(10)': 4},
 {'roll': 1807112,
  'name': 'Monjila Moni',
  'email': 'moni1807112@stud.kuet.ac.bd',
  'Azhar sir(20)': 17,

In [127]:
df_fin=pd.DataFrame(total_marks)
df_fin.to_csv("Total_marks_NLP.csv",index=False)

In [15]:
df_new=df.sort_values('Roll')

In [18]:
df1=pd.read_csv("data\CSE 4221.csv")
df1.head()

,SL,Roll,"Class Participation, Attendence &amp; Assignments(30)",Quizzes/ Class Test/ Spot Test etc.(60)
0,1,1807001,NaN,NaN
1,2,1807002,NaN,NaN
2,3,1807003,NaN,NaN
3,4,1807004,NaN,NaN
4,5,1807005,NaN,NaN

In [27]:
df_new.to_csv("NLP(2023_18B)combineCT.csv",index=False)

In [143]:
df_test=pd.read_excel(r"NLP Assignment submission (Responses).xlsx")
roll_=list(df_test['Roll'])
roll_

[1807001,
 1807002,
 1807003,
 1807004,
 1807004,
 1807005,
 1807006,
 1807006,
 1807007,
 1807008,
 1807009,
 1807010,
 1807011,
 1807012,
 1807013,
 1807014,
 1807015,
 1807016,
 1807017,
 1807018,
 1807019,
 1807020,
 1807021,
 1807022,
 1807023,
 1807024,
 1807025,
 1807026,
 1807027,
 1807028,
 1807029,
 1807030,
 1807033,
 1807034,
 1807035,
 1807036,
 1807037,
 1807039,
 1807040,
 1807041,
 1807042,
 1807043,
 1807044,
 1807045,
 1807046,
 1807047,
 1807049,
 1807050,
 1807052,
 1807054,
 1807056,
 1807056,
 1807057,
 1807058,
 1807060,
 1807061,
 1807062,
 1807063,
 1807065,
 1807066,
 1807068,
 1807069,
 1807070,
 1807071,
 1807072,
 1807073,
 1807074,
 1807075,
 1807076,
 1807077,
 1807078,
 1807079,
 1807080,
 1807082,
 1807083,
 1807084,
 1807085,
 1807086,
 1807087,
 1807088,
 1807089,
 1807090,
 1807091,
 1807092,
 1807093,
 1807094,
 1807095,
 1807096,
 1807097,
 1807098,
 1807099,
 1807100,
 1807101,
 1807102,
 1807103,
 1807103,
 1807104,
 1807105,
 1807106,
 1807107,
 1807108,
 1807109,
 1807109,
 1807112,
 1807113,
 1807114,
 1807115,
 1807116,
 1807117,
 1807118,
 1807119,
 1807120,
 1807121,
 1807038,
 1807053]

In [ ]:

for i,x in enumerate(df_test.values):
    # print(i+1+1807000)
    if (i+1+1807000) not in roll_:
        print(i+1+1807000)

In [1]:

f=open("ssbms_schema.sql","r").read()

In [12]:
import re

def extract_all_create_tables(query):
    pattern = re.compile(r'CREATE TABLE.*?;', re.DOTALL)
    matches = pattern.findall(query)
    
    return matches

# Example usage:
input_text = f

results = extract_all_create_tables(input_text)
if results:
    print("Found CREATE TABLE statements:")
    for result in results:
        print(result)
else:
    print("No CREATE TABLE statements found.")

Found CREATE TABLE statements:
CREATE TABLE public.addresses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    short_address character varying(8),
    building_number integer NOT NULL,
    street_name character varying(255) NOT NULL,
    district_name character varying(255) NOT NULL,
    city_name character varying(255) NOT NULL,
    zip_code integer NOT NULL,
    additional_number integer NOT NULL,
    unit_number integer NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT addresses_additional_number_check CHECK ((additional_number > 0)),
    CONSTRAINT addresses_building_number_check CHECK ((building_number > 0)),
    CONSTRAINT addresses_unit_number_check CHECK ((unit_number > 0)),
    CONSTRAINT addresses_zip_code_check CHECK ((zip_code > 0))
);
CREATE TABLE public.alarms (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    content character varying(1000) NOT NULL,
    minimum_value bigint NOT NULL,
    maximum_value bigint NOT NULL,
    time_frame bigint NOT NULL,
    type_id uuid NOT NULL,
    severity_id uuid NOT NULL,
    variable_id bigint NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid NOT NULL,
    CONSTRAINT alarms_time_frame_check CHECK ((time_frame >= 0))
);
CREATE TABLE public.alarms_severities (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid NOT NULL
);
CREATE TABLE public.alarms_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.consumption_categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    facility_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    maximum_kwh integer NOT NULL,
    minimum_kwh integer NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT consumption_categories_maximum_kwh_check CHECK ((maximum_kwh > 0)),
    CONSTRAINT consumption_categories_minimum_kwh_check CHECK ((minimum_kwh > 0))
);
CREATE TABLE public.consumption_categories_grid_billing_accounts_types (
    consumption_category_id uuid NOT NULL,
    grid_billing_account_type_id uuid NOT NULL,
    fee_per_kwh numeric(16,8) NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.contacts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    facility_id uuid NOT NULL,
    title_id uuid NOT NULL,
    first_name character varying(255) NOT NULL,
    middle_name character varying(255) NOT NULL,
    last_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone_number character varying(255) NOT NULL,
    job_title character varying(255) NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid NOT NULL,
    preference_during_business_hours boolean DEFAULT false NOT NULL,
    preference_outside_business_hours boolean DEFAULT false NOT NULL,
    preference_on_official_holidays boolean DEFAULT false NOT NULL,
    preference_any_time boolean DEFAULT false NOT NULL
);
CREATE TABLE public.contacts_titles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    facility_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.device (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    active boolean,
    gateway_id uuid,
    label character varying(255) NOT NULL,
    user_conf json,
    description character varying(255),
    type_id uuid NOT NULL,
    created_on timestamp without time zone DEFAULT now() NOT NULL,
    created_by uuid NOT NULL,
    unit_id uuid,
    facility_id uuid
);
CREATE TABLE public.device_control_type_icon (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    filename character varying(100) NOT NULL,
    ext character varying(10) NOT NULL,
    created_by uuid NOT NULL
);
CREATE TABLE public.device_control_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL
);
CREATE TABLE public.device_controls (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    device_id uuid NOT NULL,
    unit_id uuid NOT NULL,
    config json NOT NULL,
    created_by uuid NOT NULL,
    icon character varying(50)
);
CREATE TABLE public.device_controls_unit_pinned (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    unit_id uuid NOT NULL,
    pinned boolean NOT NULL
);
CREATE TABLE public.device_credentials (
    cred_id character varying(255) NOT NULL,
    device_id uuid NOT NULL,
    cred_val character varying(400) NOT NULL,
    cred_type character varying(255) NOT NULL,
    extra_credentials character varying(255),
    created_on timestamp without time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.device_sensors (
    device_id uuid NOT NULL,
    sensor_id uuid NOT NULL,
    telemetry_key_id bigint NOT NULL,
    created_on timestamp without time zone DEFAULT now() NOT NULL,
    created_by uuid NOT NULL
);
CREATE TABLE public.device_users (
    device_id uuid NOT NULL,
    user_id uuid NOT NULL,
    shared_on timestamp without time zone NOT NULL,
    access_type character varying(255) NOT NULL
);
CREATE TABLE public.devices_categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    created_on timestamp without time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.devices_styles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    category_id uuid NOT NULL,
    filename character varying(25) NOT NULL,
    ext character varying(10) NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid NOT NULL
);
CREATE TABLE public.devices_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    category_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    created_on timestamp without time zone DEFAULT now() NOT NULL,
    created_by uuid NOT NULL,
    config_preset json,
    style_id uuid
);
CREATE TABLE public.devices_types_and_styles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    type_id uuid NOT NULL,
    style_id uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid NOT NULL
);
CREATE TABLE public.devices_units (
    device_id uuid NOT NULL,
    unit_id uuid NOT NULL,
    created_on timestamp without time zone
);
CREATE TABLE public.energy_meters (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    facility_id uuid NOT NULL,
    grid_billing_account_id uuid NOT NULL,
    device_id uuid NOT NULL,
    phase integer NOT NULL,
    parent_id uuid,
    maximum_kwh integer NOT NULL,
    type_id uuid NOT NULL,
    unit_id uuid NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT energy_meters_maximum_kwh_check CHECK ((maximum_kwh > 0)),
    CONSTRAINT energy_meters_phase_check CHECK ((phase > 0))
);
CREATE TABLE public.energy_meters_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.facilities (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255),
    facility_type_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp without time zone DEFAULT now() NOT NULL,
    unit_id uuid,
    latitude numeric(10,8),
    longitude numeric(11,8),
    x_coordinate numeric(16,8),
    y_coordinate numeric(16,8),
    address_id uuid NOT NULL,
    occupancy_id uuid,
    first_emergency_contact uuid,
    second_emergency_contact uuid,
    maintenance_id uuid,
    security_id uuid,
    safety_id uuid
);
CREATE TABLE public.facilities_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    created_by uuid,
    created_on timestamp without time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.facility_maintenance (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    facility_id uuid NOT NULL,
    is_their_private_maintenance_company boolean DEFAULT false NOT NULL,
    private_maintenance_company_contact uuid,
    is_their_resident_maintenance_team boolean DEFAULT false NOT NULL,
    resident_maintenance_team_contact_id uuid,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.facility_maintenance_maintenance_team_trainings (
    id integer NOT NULL,
    facility_maintenance_id uuid NOT NULL,
    maintenance_team_training_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.facility_occupancy (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    facility_id uuid NOT NULL,
    total_area numeric(16,8) NOT NULL,
    total_built_up_area numeric(16,8) NOT NULL,
    building_total_numbers integer NOT NULL,
    personal_access_permit uuid,
    total_facility_employees integer NOT NULL,
    total_facility_capacity integer NOT NULL,
    maximum_visitors_capacity integer NOT NULL,
    notify_if_total_personnel_number_exceed boolean DEFAULT true NOT NULL,
    maximum_vehicles_capacity integer NOT NULL,
    vehicles_access_permit uuid,
    total_facility_parking integer NOT NULL,
    notify_if_total_vehicles_parking_exceed boolean DEFAULT true NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT facility_occupancy_building_total_numbers_check CHECK ((building_total_numbers > 0)),
    CONSTRAINT facility_occupancy_total_built_up_area_check CHECK ((total_built_up_area > (0)::numeric))
);
CREATE TABLE public.facility_occupancy_vehicles_types (
    facility_occupancy_id uuid NOT NULL,
    vehicles_types_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.facility_safety (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    facility_id uuid NOT NULL,
    is_their_fire_alarm_system boolean DEFAULT false NOT NULL,
    fire_alarm_system_type_id uuid NOT NULL,
    hazardous_materials_officer_contact_id uuid,
    is_facility_follow_precautionary_measures boolean DEFAULT false NOT NULL,
    is_facility_has_resident_safety_inspector boolean DEFAULT false NOT NULL,
    resident_safety_inspector_contact_id uuid,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.facility_security (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    facility_id uuid NOT NULL,
    is_their_private_security_company boolean DEFAULT false NOT NULL,
    private_security_company_contact_id uuid,
    is_their_surveillance_system boolean DEFAULT false NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.fire_alarm_systems_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.grid_billing_accounts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    label character varying(255) NOT NULL,
    number bigint NOT NULL,
    meter_serial_number character varying(255) NOT NULL,
    type_id uuid NOT NULL,
    service_class_id uuid NOT NULL,
    breaker_capacity integer NOT NULL,
    start_period timestamp with time zone NOT NULL,
    end_period timestamp with time zone NOT NULL,
    days integer NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    facility_id uuid,
    CONSTRAINT grid_billing_accounts_breaker_capacity_check CHECK ((breaker_capacity > 0)),
    CONSTRAINT grid_billing_accounts_days_check CHECK ((days > 0))
);
CREATE TABLE public.grid_billing_accounts_service_classes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    minimal_breaker_capacity integer NOT NULL,
    maximum_breaker_capacity integer,
    fee integer NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    facility_id uuid NOT NULL,
    created_by uuid,
    CONSTRAINT grid_billing_accounts_service_cl_maximum_breaker_capacity_check CHECK ((maximum_breaker_capacity > 0)),
    CONSTRAINT grid_billing_accounts_service_cl_minimal_breaker_capacity_check CHECK ((minimal_breaker_capacity > 0)),
    CONSTRAINT grid_billing_accounts_service_classes_fee_check CHECK ((fee > 0))
);
CREATE TABLE public.grid_billing_accounts_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_on timestamp without time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.icons (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    css_class character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.main_energy_meters (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    account_id uuid NOT NULL,
    meter_label character varying(255) NOT NULL,
    meter_id bigint NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT main_energy_meters_meter_id_check CHECK ((meter_id > 0))
);
CREATE TABLE public.maintenance_team_trainings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    facility_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.menus (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    html_class character varying(255),
    color character varying(255),
    has_children boolean NOT NULL,
    level integer NOT NULL,
    parent_id uuid,
    priority integer NOT NULL,
    route_to character varying(255),
    created_on timestamp without time zone
);
CREATE TABLE public.menus_and_roles (
    menu_id uuid NOT NULL,
    role_id uuid NOT NULL
);
CREATE TABLE public.migratehistory (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    migrated_at timestamp without time zone NOT NULL
);
CREATE TABLE public.multi_factor_authentication_factors (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    token character varying(255) NOT NULL,
    additional_config json,
    type_id uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid NOT NULL
);
CREATE TABLE public.multi_factor_authentication_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    active boolean,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.permissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    is_core boolean NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp without time zone
);
CREATE TABLE public.permities_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    facility_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    created_on timestamp without time zone,
    created_by uuid,
    facility_id uuid,
    active boolean DEFAULT true NOT NULL,
    global_role boolean DEFAULT false NOT NULL
);
CREATE TABLE public.roles_and_permissions (
    name character varying(255),
    access_pattren integer NOT NULL,
    permission_id uuid NOT NULL,
    role_id uuid NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp without time zone
);
CREATE TABLE public.scheduled_controls (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    active boolean NOT NULL,
    device_id uuid NOT NULL,
    unit_id uuid NOT NULL,
    facility_id uuid NOT NULL,
    is_custom boolean NOT NULL,
    start_time bigint NOT NULL,
    end_time bigint,
    control_id uuid,
    cmd_start json NOT NULL,
    cmd_end json NOT NULL,
    repeat boolean NOT NULL,
    repeat_type character varying(50) NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    processed boolean,
    processed_on bigint,
    start_processed boolean,
    next_trigger bigint,
    has_ending boolean
);
CREATE TABLE public.sub_energy_meters (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    main_meter_id uuid NOT NULL,
    meter_label character varying(255) NOT NULL,
    meter_id bigint NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_by uuid NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT sub_energy_meters_meter_id_check CHECK ((meter_id > 0))
);
CREATE TABLE public.tariff_categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    maximum_amp integer NOT NULL,
    minimum_amp integer NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid NOT NULL,
    facility_id uuid,
    fee numeric(10,2),
    CONSTRAINT tariff_categories_maximum_kwh_check CHECK ((maximum_amp > 0)),
    CONSTRAINT tariff_categories_minimum_kwh_check CHECK ((minimum_amp > 0))
);
CREATE TABLE public.tariff_categories_service_classes (
    tariff_category_id uuid NOT NULL,
    service_class_id uuid NOT NULL,
    tariff integer NOT NULL,
    created_on timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid NOT NULL,
    CONSTRAINT tariff_categories_service_classes_tariff_check CHECK ((tariff > 0))
);
CREATE TABLE public.telemetries (
    device_id uuid NOT NULL,
    key_id bigint NOT NULL,
    "timestamp" bigint NOT NULL,
    bool boolean,
    dbl double precision,
    json json,
    long bigint,
    str character varying(255)
);
CREATE TABLE public.telemetries_dictionaries (
    id bigint DEFAULT nextval('public.id_seq'::regclass) NOT NULL,
    key character varying(400) NOT NULL,
    created_on timestamp without time zone DEFAULT now() NOT NULL
);
CREATE TABLE public.telemetries_latest (
    device_id uuid NOT NULL,
    key_id bigint NOT NULL,
    "timestamp" bigint NOT NULL,
    bool boolean,
    dbl double precision,
    json json,
    long bigint,
    str character varying(255)
);
CREATE TABLE public.telemetries_log (
    device_id uuid NOT NULL,
    key_id bigint NOT NULL,
    "timestamp" bigint NOT NULL,
    bool boolean,
    dbl double precision,
    json json,
    long bigint,
    str character varying(255)
);
CREATE TABLE public.telemetries_notif (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    device_id uuid NOT NULL,
    key_id bigint NOT NULL,
    "timestamp" bigint NOT NULL,
    bool boolean,
    dbl double precision,
    json json,
    long bigint,
    str character varying(255),
    msg character varying(512)
);
CREATE TABLE public.telemetries_notif_users (
    notif_id uuid NOT NULL,
    user_id uuid NOT NULL,

81